/* ===================================================
--- Mobile First ---
=================================================== */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #fff;
}






















/* ===================================================
--- Small devices (tablets, 768px and up) ---
=================================================== */

@media screen and (min-width: 768px) {
	
}




























/* ===================================================
--- Medium devices (tablets landscape / desktop 1024px and up) ---
=================================================== */

@media screen and (min-width: 1024px) {
	
}





















