/* ===================================================
--- Mobile First ---
=================================================== */

/* ----- General Styles ----- */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #fff;
}

/* ----- Wrappers ----- */
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width: 980px;
}

/* ----- Header ----- */
header {
	background-color: green;
	padding: 2em 0;
	position: fixed;
	width: 100%;
}

/* ----- Search Box ----- */
input[type="search"] {
	width: 300px;
	display: block;
	margin: 0 auto;
	font-size: 16pt;
}






















/* ===================================================
--- Small devices (tablets, 768px and up) ---
=================================================== */

@media screen and (min-width: 768px) {
	
	/* ----- Search Box ----- */
	input[type="search"] {
		width: 460px;
		
	}

}




























/* ===================================================
--- Medium devices (tablets landscape / desktop 1024px and up) ---
=================================================== */

@media screen and (min-width: 1024px) {
	
}





















